@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'poppins', sans-serif;
    color: #343434;
  }
  html {
    scroll-behavior: smooth;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #d4d4d4;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #172554;
}
